.risk-icon-cell {
  i {
    margin: 0 10px;
    /*    &:hover {
    opacity: 0.85;
    }*/
  }
  .tooltip {
    visibility: hidden;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    position: absolute;
    font-family: 'Open Sans';
    text-align: left;
    z-index: 1;
    p {
      margin: 0 0 10px;
    }
  }
  .twitter-icon:hover .tooltip {
    visibility: visible;
  }
}
