@import 'assets/sass/variables';

.search-bar-component {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-self: center;
  padding-bottom: 1.5rem;

  & .search-bar-box {
    display: flex;
    padding: 0 0.7rem 0 0.7rem;
    align-items: center;
    width: 20rem;
    height: 3rem;
    border: solid 0.1rem;
    border-color: gray;
    color: black;
    margin: auto;

    & i {
      color: $color-blue;
      font-size: 1.5rem;
    }

    & input {
      margin-left: 0.5rem;
      font-size: 1.2rem;
      border: solid 0rem;
      flex-grow: 1;
    }
  }
  label {
    margin-right: 0.75rem;
  }
}
