#!/bin/sh
export MONGODB_CONNECTION_STRING=mongodb://localhost:27017

export consumer_key=someString
export consumer_secret=someString
export access_token=someString
export access_token_secret=someString